/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img,
video {
    display: block;
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*! minireset.css end */
:root {
    --color-game-background: #CBF3F0;
    --color-playerone: #2EC4B6;
    --color-playerone--light: #CBF3F0;
    --color-playertwo: #FF9F1C;
    --color-playertwo--light: #FFCA85;
    --color-neutral: #292F36;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f7f8;
}

.game {
    margin: 5rem auto;
    width: min(60ch, 94%);
}

.game__status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .25rem 12px;
    padding: 0 1rem;

    font-size: 1.4rem;
    font-weight: 500;
}

.game__status > div {
    display: grid;
    grid: subgrid / subgrid;
    grid-row: span 2;
    border-radius: .5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    background-color: white;
    padding: .5rem;
}

.game__status > div > p {
    display: grid;
    grid-row: span 1;
    align-self: center;
    justify-self: center;
    text-align: center;
}

#game_playerOneStatus {
    background-color: var(--color-playerone);
}

#game_playerTwoStatus {
    background-color: var(--color-playertwo);
}

.game .wrapper {
    margin: 1rem 0 1.5rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.game__board {
    position: relative;
    display: grid;
    grid: auto-flow / repeat(3, 1fr);
    gap: 12px;
}

.game__board > div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.game__board img {
    width: 70%;
}

div.game_line {
    position: absolute;
    background-color: #4c4c4c;
    border-radius: 1rem;
}

.game_line--h1,
.game_line--h2 {
    height: 12px;
    width: 100%;
    top: calc(33.333% - 8px);
}

.game_line--v1,
.game_line--v2 {
    width: 12px;
    height: 100%;
    left: calc(33.333% - 8px);
}

.game_line--h1 {
    top: calc(66.666% - 4px);
}

.game_line--v1 {
    left: calc(66.666% - 4px);
}

.game__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game__message {
    margin: 1rem auto;
    color: #000;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

#game__replay {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game__replay button {
    padding: .2rem 2rem;

    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 2rem;
    overflow: hidden;
    border: 2px solid #4c4c4c;
}

#game__replay button:hover {
    border-color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}